@charset "UTF-8";
/* 日本語 */


//変数
$color-menu: #24292E;
$color: #383E45;


//common
html{
    font-size: 62.5%;
}
body{
    color: $color;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳＰゴシック",sans-serif;
    font-size: 1.6rem;
}
a{
    color: $color;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align:bottom;
}
.wrapper{
    max-width: 960px;
    padding:0 4%;
    margin: 0 auto;
    text-align: center;
}


// sp
.headerMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 120px;
        height: auto;
        padding: 10px 0;
    }
    ul{
        display: flex;
        li{
            padding-left: 2em;
            font-size: 1.4rem;
            color: $color-menu;
        }
    }
}

main{
    .hero{
        img{
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }

    .about , .bicycle{
        padding-top: 70px;
        h2{
            font-size: 3.2rem;
            border-bottom: 1px $color solid;
            display: inline-block;
            font-weight: bold;
            margin: 1.4em 0;
        }
        h3{
            font-weight: bold;
            padding: .6em 0;
        }
        p{
            line-height: 1.4em;
            margin-bottom: 2em;
        }
    }

    .about{
        img{
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border-radius: 50%;
        }
        .txt{
            text-align: left;
            margin: 0 auto;
        }
    }


}
// main_end


// footer
footer{
    padding: 140px 0 16px 0;
    p{
        font-size: 1.0rem;
        text-align: center;
    }
}




@media(min-width:600px){
    .about{
        .block{
            display: flex;
            align-items: center;
            width: 600px;
            margin: 0 auto;
            
            .txt{
                padding-left: 2em;
                p{
                    margin-bottom: 0;
                }
            }

        }
    }

    .bicycle{
        ul{
            display: flex;
            justify-content: space-between;
            li{
                width: calc((100% - 32px) / 3);
            }
        }
    }

}
  